---
import Container from '../components/shared/Container.astro';
import Paragraph from '../components/shared/Paragraph.astro';
import Layout from '../layouts/Layout.astro';
import { services } from "../utils/data.ts";

const index = 11;
---

<Layout title={services[index].title}>
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<section class="relative pt-32 lg:pt-36">
			<Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
				<div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            		<span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            		<span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        		</div>
        		<span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
        		<div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
					<h2 class="text-lg md:text-xl font-semibold text-heading-2">
						{services[index].title}
					</h2>
				<Paragraph className="mt-8 font-semibold">
					{services[index].description}
				</Paragraph>
				<Paragraph className="mt-8">
					{services[index].text}
				</Paragraph>
        		</div>
        		<div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
            		<slot set:html={services[index].image}>
        		</div>
    		</Container>
		</section>
	</main>
</Layout>